@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("/")">首页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>详情</span>
        </li>
    </ul>
</div>
<h3 class="page-title">
    用户活动信息
    <small>订阅量与活跃用户</small>
</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="1349">0</span>
                </div>
                <div class="desc"> 近三天创建的用户 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="1265">0</span>
                </div>
                <div class="desc"> 总用户数 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="549">0</span>
                </div>
                <div class="desc"> 今天登录的用户 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89"></span>
                </div>
                <div class="desc"> 今天签到的用户 </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-hide hide"></i>
                    <span class="caption-subject font-hide bold uppercase">用户留言</span>
                </div>
            </div>
            <div class="portlet-body" id="chats">
                <div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
                    <ul class="chats">
                        <li class="out">
                            <img class="avatar" alt="" src="/Content/assets/layouts/layout/img/avatar2.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> 张三 </a>
                                <span class="datetime"> at 20:11 </span>
                                <span class="body"> 你好你好初次见面 </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="/Content/assets/layouts/layout/img/avatar2.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> 张三 </a>
                                <span class="datetime"> at 20:11 </span>
                                <span class="body"> 你好你好初次见面 </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="/Content/assets/layouts/layout/img/avatar1.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> 张三 </a>
                                <span class="datetime"> at 20:30 </span>
                                <span class="body"> 你好你好初次见面 </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="/Content/assets/layouts/layout/img/avatar1.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> 张三 </a>
                                <span class="datetime"> at 20:30 </span>
                                <span class="body"> 你好你好初次见面  </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="/Content/assets/layouts/layout/img/avatar3.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Richard Doe </a>
                                <span class="datetime"> at 20:33 </span>
                                <span class="body"> 你好你好初次见面  </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="/Content/assets/layouts/layout/img/avatar3.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Richard Doe </a>
                                <span class="datetime"> at 20:35 </span>
                                <span class="body"> 你好你好初次见面  </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>